@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina|Open+Sans");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 4vmin;
  font-family: "Open Sans", sans-serif;
  background-color: #03a9f4;
  color: #eee; }
  @media (min-width: 768px) {
    html {
      font-size: 2.25vmin; } }
  @media (min-width: 1200px) {
    html {
      font-size: 1.5vmin; } }

p {
  margin-bottom: 1em; }

h1, h2, h3, h4, h5 {
  font-family: "Baloo Bhaina", sans-serif; }

h1 {
  font-size: 2.5em;
  text-shadow: 0px 0.5vmin 0px #b0bec5; }
  @media (min-width: 768px) {
    h1 {
      font-size: 2.25em;
      text-shadow: 0px 0.3vmin 0px #b0bec5; } }
  @media (min-width: 1200px) {
    h1 {
      font-size: 3em;
      text-shadow: 0px 0.3vmin 0px #b0bec5; } }

h2 {
  font-size: 1.5em; }

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 5vmin;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 95vh; }
  @media (min-width: 768px) {
    #container {
      flex-direction: row;
      padding: 0 5vmin; } }

.screenshotBlock, .formBlock {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  min-height: 80vh; }
  @media (min-width: 768px) {
    .screenshotBlock, .formBlock {
      width: 50%; } }

.screenshotBlock {
  order: 2; }
  @media (min-width: 768px) {
    .screenshotBlock {
      order: 1; } }
  .screenshotBlock .screenshot {
    background-color: #eee;
    box-sizing: border-box;
    padding: 6vh 1vh;
    border-radius: 20px;
    height: 80vh;
    max-height: 569px;
    max-width: 320px;
    width: auto;
    box-shadow: 0px 1vmin 0px #b0bec5;
    margin: 5vmin; }
    @media (min-width: 1200px) {
      .screenshotBlock .screenshot {
        padding: 4vh 1vh; } }
    .screenshotBlock .screenshot .screen {
      width: 100%;
      height: 100%;
      position: relative; }
      .screenshotBlock .screenshot .screen img {
        object-fit: contain;
        height: 100%; }

.formBlock {
  order: 1; }
  @media (min-width: 768px) {
    .formBlock {
      order: 2; } }

.formFrame {
  border: 2px solid white;
  border-radius: 10px;
  padding: 5vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left; }
  @media (min-width: 768px) {
    .formFrame {
      padding: 3vmin; } }
  @media (min-width: 1200px) {
    .formFrame {
      padding: 2vmin;
      width: 60%; } }

.headerGroup {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 5vmin auto;
  flex-wrap: wrap; }
  @media (min-width: 768px) {
    .headerGroup {
      margin: 2vmin; } }
  .headerGroup .icon {
    flex: 1;
    margin-right: 5vmin; }
    .headerGroup .icon img {
      background-color: #0081ff;
      box-sizing: border-box;
      border-radius: 10px;
      width: 100%;
      max-width: 128px; }
  .headerGroup .headers {
    flex: 3; }

.description {
  margin: 5vmin auto; }
  @media (min-width: 768px) {
    .description {
      margin: 2vmin auto; } }

.joinBeta {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 5vmin auto; }
  @media (min-width: 768px) {
    .joinBeta {
      margin: 2vmin auto; } }

input {
  box-sizing: border-box;
  border: 0;
  border-radius: 10px;
  font-size: 1em;
  padding: 5vmin;
  width: 100%;
  text-indent: 2vmin;
  margin: 1vmin 0; }
  @media (min-width: 768px) {
    input {
      padding: 2vmin; } }

button {
  width: 100%;
  background-color: #008cff;
  box-shadow: 0px 1vmin 0px #0081ff;
  border: none;
  border-radius: 10px;
  font-family: "Baloo Bhaina", sans-serif;
  font-size: 2em;
  text-align: center;
  color: #eee;
  margin: 1vmin auto;
  cursor: pointer;
  padding-top: .25em;
  transition: .25s all; }

button:hover {
  color: white;
  background-color: #ff9800;
  box-shadow: 0px 1vmin 0px #f57c00;
  transition: .25s all; }

footer {
  font-size: .75em;
  text-align: center;
  height: 5vh; }

/*# sourceMappingURL=style.css.map */
