@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Open+Sans');

@import 'reset';

// media queries
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1200px)";

// colors
$white: #eee;
$lightBlue: rgba(3, 169, 244, 1);
$orange: rgba(255, 152, 0, 1);
$darkOrange: rgba(245, 124, 0, 1);
$blue: rgba(0, 140, 255, 1);
$darkBlue: rgba(0, 129, 255, 1);
$lightGrey: rgba(176, 190, 197, 1);

$heading: 'Baloo Bhaina', sans-serif;
$bodyText: 'Open Sans', sans-serif;

html {
  font-size: 4vmin;
  font-family: $bodyText;
  background-color: $lightBlue;
  color: $white;
  @media #{$tablet} {
    font-size: 2.25vmin;
  }
  @media #{$desktop} {
    font-size: 1.5vmin;
  }
}

p {
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5 {
  font-family: $heading;
}

h1 {
  font-size: 2.5em;
  text-shadow: 0px .5vmin 0px $lightGrey;
  @media #{$tablet} {
    font-size: 2.25em;
    text-shadow: 0px .3vmin 0px $lightGrey;
  }
  @media #{$desktop} {
    font-size: 3em;
    text-shadow: 0px .3vmin 0px $lightGrey;
  }
}

h2 {
  font-size: 1.5em;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 5vmin;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 95vh;
  @media #{$tablet} {
    flex-direction: row;
    padding: 0 5vmin;
  }
}

.screenshotBlock, .formBlock {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  min-height: 80vh;
  @media #{$tablet} {
    width: 50%;
  }
}

.screenshotBlock {
  order: 2;
  @media #{$tablet} {
    order: 1;
  }

  .screenshot {
    background-color: $white;
    box-sizing: border-box;
    padding: 6vh 1vh;
    border-radius: 20px;
    height: 80vh;
    max-height: 569px;
    max-width: 320px;
    width: auto;
    box-shadow: 0px 1vmin 0px $lightGrey;
    margin: 5vmin;
    @media #{$desktop} {
      padding: 4vh 1vh;
    }

    .screen {
      width: 100%;
      height: 100%;
      position: relative;

      img {
        object-fit: contain;
        height: 100%;
      }
    }

  }
}

.formBlock {
  order: 1;
  @media #{$tablet} {
    order: 2;
  }
}

.formFrame {
  border: 2px solid white;
  border-radius: 10px;
  padding: 5vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  @media #{$tablet} {
    padding: 3vmin;
  }
  @media #{$desktop} {
    padding: 2vmin;
    width: 60%;
  }
}

.headerGroup {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 5vmin auto;
  flex-wrap: wrap;
  @media #{$tablet} {
    margin: 2vmin;
  }

  .icon {
    flex: 1;
    margin-right: 5vmin;

    img {
      background-color: $darkBlue;
      box-sizing: border-box;
      border-radius: 10px;
      width: 100%;
      max-width: 128px;
    }
  }

  .headers {
    flex: 3;
  }
}

.description {
  margin: 5vmin auto;
  @media #{$tablet} {
    margin: 2vmin auto;
  }
}

.joinBeta {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 5vmin auto;
  @media #{$tablet} {
    margin: 2vmin auto;
  }
}

input {
  box-sizing: border-box;
  border: 0;
  border-radius: 10px;
  font-size: 1em;
  padding: 5vmin;
  width: 100%;
  text-indent: 2vmin;
  margin-bottom: 2vmin;
  @media #{$tablet} {
    padding: 2vmin;
  }
}

button {
  width: 100%;
  background-color: $blue;
  box-shadow: 0px 1vmin 0px $darkBlue;
  border: none;
  border-radius: 10px;
  font-family: $heading;
  font-size: 2em;
  text-align: center;
  color: $white;
  cursor: pointer;
  padding-top: .25em;
  transition: .25s all;
}

button:hover {
  color: white;
  background-color: $orange;
  box-shadow: 0px 1vmin 0px $darkOrange;
  transition: .25s all;
}

footer {
  font-size: .75em;
  text-align: center;
  height: 5vh;
}

.success {
  font-family: $heading;
  padding: 1em;
  margin-bottom: 0.75rem;
  // text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: $white;
  background-color: limegreen;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.error {
  font-family: $heading;
  padding: 1em;
  margin-bottom: 0.75rem;
  // text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: $white;
  background-color: #f44336;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
